<div class="container fullscreen valign-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card text-center">
                    <div class="content">
                        <h1 class="card-title">Battery</h1>
                        <p class="card-description">Status</p>
                        <h1 id="testIDbattery">Battery status not working</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var statusdiv;

    var drawStatus = function(info){
        var s = "Level is "+info.level + "<br/>";
        s += "Plugged in is "+info.isPlugged;
        s += "</p>";
        statusdiv.innerHTML = s;
    };

    var battCrit = function(info) {
        navigator.notification.alert("Your battery is SUPER low!");
        drawStatus(info);
    };

    var battLow = function(info) {
        navigator.notification.alert("Your battery is low!");
        drawStatus(info);
    };

    var battStat = function(info) {
        drawStatus(info);
    };
    var onDeviceReady = function() {
        window.addEventListener("batterycritical", battCrit, false);
        window.addEventListener("batterylow", battLow, false);
        window.addEventListener("batterystatus", battStat, false);
    };

    document.addEventListener("deviceready", onDeviceReady, true);
    statusdiv = document.getElementById("testIDbattery");
</script>