<div class="page-header header-filter bg4" data-parallax="active">
    <div class="container">
        <h1 class="title">Gallery</h1>
        <h4>Meet the amazing team behind this project and find out more about how we work.</h4>
    </div>
</div>
<!-- End of Page Header -->

<div class="content">

    <!-- Gallery Grid -->
    <div class="container-fluid">

        <div class="card card-blog">
            <div class="card-image">
                <a href="../../../../../Library/Containers/com.apple.mail/Data/Library/Mail%20Downloads/D2D37EFF-B601-4C16-8F08-72B3DA089E7D/phonegap-template/img/card-blog1.jpg" class="swipebox" title="Awesome dummy caption.">
                    <img class="img" src="../../../../../Library/Containers/com.apple.mail/Data/Library/Mail%20Downloads/D2D37EFF-B601-4C16-8F08-72B3DA089E7D/phonegap-template/img/card-blog1.jpg" alt=""/>
                    <div class="card-title">
                        This Summer Will be Awesome
                    </div>
                </a>
            </div>
            <div class="content">
                <h6 class="category text-info">Fashion</h6>
                <p class="card-description">
                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                </p>
            </div>
        </div>

        <div class="card card-blog">
            <div class="card-image">
                <a href="../../../../../Library/Containers/com.apple.mail/Data/Library/Mail%20Downloads/D2D37EFF-B601-4C16-8F08-72B3DA089E7D/phonegap-template/img/card-blog2.jpg" class="swipebox" title="Awesome dummy caption.">
                    <img class="img" src="../../../../../Library/Containers/com.apple.mail/Data/Library/Mail%20Downloads/D2D37EFF-B601-4C16-8F08-72B3DA089E7D/phonegap-template/img/card-blog2.jpg" alt=""/>
                    <div class="card-title">
                        This Summer Will be Awesome
                    </div>
                </a>
            </div>
            <div class="content">
                <h6 class="category text-info">Fashion</h6>
                <p class="card-description">
                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                </p>
            </div>
        </div>

        <div class="card card-blog">
            <div class="card-image">
                <a href="../../../../../Library/Containers/com.apple.mail/Data/Library/Mail%20Downloads/D2D37EFF-B601-4C16-8F08-72B3DA089E7D/phonegap-template/img/card-blog3.jpg" class="swipebox" title="Awesome dummy caption.">
                    <img class="img" src="../../../../../Library/Containers/com.apple.mail/Data/Library/Mail%20Downloads/D2D37EFF-B601-4C16-8F08-72B3DA089E7D/phonegap-template/img/card-blog3.jpg" alt=""/>
                    <div class="card-title">
                        This Summer Will be Awesome
                    </div>
                </a>
            </div>
            <div class="content">
                <h6 class="category text-info">Fashion</h6>
                <p class="card-description">
                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                </p>
            </div>
        </div>

        <div class="card card-blog">
            <div class="card-image">
                <a href="../../../../../Library/Containers/com.apple.mail/Data/Library/Mail%20Downloads/D2D37EFF-B601-4C16-8F08-72B3DA089E7D/phonegap-template/img/card-blog4.jpg" class="swipebox" title="Awesome dummy caption.">
                    <img class="img" src="../../../../../Library/Containers/com.apple.mail/Data/Library/Mail%20Downloads/D2D37EFF-B601-4C16-8F08-72B3DA089E7D/phonegap-template/img/card-blog4.jpg" alt=""/>
                    <div class="card-title">
                        This Summer Will be Awesome
                    </div>
                </a>
            </div>
            <div class="content">
                <h6 class="category text-info">Fashion</h6>
                <p class="card-description">
                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                </p>
            </div>
        </div>

    </div>
</div>